<a href="https://colab.research.google.com/github/alcrhm1-eng/KKA-XI.1-Semester-1-Alicia-versi-2/blob/main/2_tipe_variabel_Alicia_R_XI_1_ipymb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Alicia Rahma

Kelas:XI.1

No. Absen: 04

#Konsep Dasar

In [ ]:
email_user_1 = "alcrhm1@gmail.com"

print(email_user_1)

alcrhm1@gmail.com

In [ ]:
sabun_lifebouy = 15000

print(sabun_lifebouy)

15000

In [ ]:
print(sabun_lifebouy*5)

75000

#Peraturan Penulisan Variabel

In [ ]:
#Penulisan Variabel hanya boleh menggunakan huruf, angka dan underscore
#Tidak boleh menggunakan spasi
nama siswa = "Alic"

print(nama siswa)

SyntaxError: invalid syntax (ipython-input-910164564.py, line 3)

In [ ]:
#Tidak boleh diawali dengan angka

1_nama_siswa = "alic"
print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-3374561328.py, line 3)

In [ ]:
#penulisan variabel itu case sensitive/sensitif capslock
nama_siswa_1 = "alic"

print(Nama_siswa_1)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
#dilarang menggunakan kata kunci di bahasa python
prin="alic"

print(prin)

alic

In [ ]:
end="alic"

print(end)

alic

In [ ]:
#Deskriptif
_ = "Alicia"

print(_)

Alicia

In [ ]:
#Tidak boleh pakai kata kunci python
#Kalau error, harus disconnect dulu
#Print = "Alicia"

#Print(print)

#Assignment

##Single Assignment

In [ ]:
nama_siswa_2 = "Dhapne"
nama_siswa_3 = "Farel"
print(nama_siswa_2)
print(nama_siswa_3)

Dhapne
Farel

##Multiple Assignment

In [ ]:
nama_siswa_4, nama_siswa_5, = "Sada", "Shello"

print(nama_siswa_4)
print(nama_siswa_5)

Sada
Shello

##Assign ke Banyak Variabel Sekaligus

In [ ]:
nilai_afa = nilai_favian = 100

print(nilai_afa)
print(nilai_favian)

100
100

##Perubahan Nilai Variabel

In [ ]:
nilai_afa = 95
print(nilai_afa)

95

#Aritmatika

In [ ]:
print("5000*3")

5000*3

In [ ]:
#Operand tanpa disimpan dalam variabel
print(5000*3)

15000

In [ ]:
#simpan operand ke dalam variabel
harga_kojek = 6000
banya_porsi = 3

print(harga_kojek*banya_porsi)

18000

In [ ]:
#simpan hasil operasi ke dalam variabel
harga_total_kojek = 3000*3

print(harga_total_kojek)

9000

In [ ]:
#simpan nilai operand dan hasil operasi ke dalam variabel
harga_cilok = 10000
jumlah_porsi_cilok = 5
harga_total_cilok = harga_cilok *jumlah_porsi_cilok

print(harga_total_cilok)

50000

In [ ]:
uang_yang_diterima =100000
uang_kembalian = uang_yang_diterima-harga_total_cilok

print(uang_kembalian)

50000

In [ ]:
print(24*3)

72

In [ ]:
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus*jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

#Tipe Variabel

In [ ]:
usia = 65

type(usia)

int

In [ ]:
berat_telur = 2.5

type(berat_telur)

float

In [ ]:
nama = "Alicia"

type(nama)

str

In [ ]:
remidi = False

type(remidi)

bool

In [ ]:
remidi = True

type(remidi)

bool

In [ ]:
koordinat_bintang = -1.5

type(koordinat_bintang)

float

In [ ]:
koordinat_titik = -8

type(koordinat_titik)

int

#Input

In [ ]:
panjang = 10
lebar = 5
luas = panjang*lebar

print(luas)

50

In [ ]:
input()

10

'10'

In [ ]:
panjang =input()

10

In [ ]:
print(panjang)

10

In [ ]:
lebar = input()

5

In [ ]:
print(lebar)

5

In [ ]:
luas = panjang*lebar

print(luas)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(panjang)

str

In [ ]:
type(lebar)

str

In [ ]:
panjang = int(panjang)

In [ ]:
lebar = int(lebar)

In [ ]:
type(panjang)

int

In [ ]:
panjang_1 = int(input("Masukkan panjang persegi: "))

Masukkan panjang persegi: 10

In [ ]:
panjang_2 = int(input("Masukkan panjang persegi: "))
lebar_2 = int(input("Masukkan lebar persegi: "))

luas_2 = panjang_2*lebar_2

print(f"Luas persegi panjang adalah {luas_2} cm^2")

Masukkan panjang persegi: 10
Masukkan lebar persegi: 5
Luas persegi panjang adalah 50 cm^2

In [ ]:
panjang_3 = int(input("Masukkan panjang balok: "))
lebar_3 = int(input("Masukkan lebar balok: "))
tinggi_3 = int(input("Masukkan tinggi balok: "))

volume_3 = panjang_3*lebar_3*tinggi_3

print(f"Volume balok adalah {volume_3} cm³")

Masukkan panjang balok: 10
Masukkan lebar balok: 5
Masukkan tinggi balok: 4
Volume balok adalah 200 cm³

#Konversi Tipe Data

In [ ]:
a = 3
print(a)
type(a)

3

int

In [ ]:
a = float(a)
print(a)
type(a)

3.0

float

In [ ]:
a = str(a)
print(a)
type(a)

3.0

str

In [ ]:
a = bool(a)
print(a)
type(a)

True

bool

In [ ]:
b = "cicak"
print(b)

b = bool(b)
print(b)

cicak
True

In [ ]:
c = ""
print(c)

c = bool(c)
print(c)

False

In [ ]:
d = False
print(d)
type(d)

False

bool

In [ ]:
e = "False"
print(e)
type(e)

False

str